.board {
    --field-size: 48px;

    display: grid;
    grid-template-columns: repeat(3, var(--field-size));
    grid-template-rows: repeat(3, var(--field-size));
    gap: 8px;
}

.notifications {
    border: 1px solid lightgray;
    width: max-content;
    padding: 1rem;
    border-radius: .3rem;
    min-height: 50px;
}